@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face { font-family: Delicious; src: url('./fonts/bigblue.ttf'); } 

html, body {
  font-size: 100%;
  background-color: #0c0c0c;
  font-family: Delicious;  
  text-align: center;
  color: white;
}

h1, a {
  font-size: 15px;
  margin-top: -5px;
  display: flex; /* Přesuňte display: flex sem, pokud to chcete pro h1 elementy */
  /* zde vypínáme podtržeí odkazů*/
  text-decoration: none;
}

.colored {
  color: #34ebbd;
}

.coloredl {
  color: #3bc2a0;
}